<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="successAlertMessage">Success Alert</label>
        <input type="text" [(ngModel)]="successAlertMessage" class="form-control" id="successAlertMessage">
      </div>
      <div class="form-group">
        <success-alert [message]="successAlertMessage" [warning]="warningAlertMessage"></success-alert>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="warningAlertMessage">Warning Alert</label>
        <input type="text" [(ngModel)]="warningAlertMessage" class="form-control" id="warningAlertMessage">
      </div>
      <div class="form-group">
        <warning-alert [message]="warningAlertMessage"></warning-alert>
      </div>
    </div>
  </div>
</div>
